/* Key box-sizing settings  */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* Global layout settings */

body {
  color: #545149;
  background-color: #f0e4e7;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 24px;
  display: flex;
  flex-direction: column;
}

main.container {
  margin: auto;
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Styling for both the scroller and footer  */


@keyframes scrolly {
  0% {  bottom: 30px; }
  100% { bottom: 45px; }
}

.scrollUp {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background-color: transparent;
  border: none;
  animation-name: scrolly;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: paused;
}


.scrollUp:focus {
  outline: none;
}


footer.credit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1em;
  font-size: 10px;
  display: flex;
  flex-direction: row;
  color: white;
  background-color: #4056A1;
}

footer.credit a {
  text-decoration: none;
  color: white;
}


