nav {
  position:fixed;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 120px;
  width: 100%;
  background-color:  #4056A1;
  color: #FFFFFF;
  box-sizing: border-box;
  padding: 1.5em;
}

nav span:nth-child(1) {
    font-family: 'Bungee', sans-serif;
  }

nav .composer {
  border: none;
}

nav .composer:focus {
  outline: none;
}

nav .composer span:nth-child(1) {
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
  }

  @keyframes arrow {
    0% { top: 0px; }
    100% { top: 5px; }
  }

 #test {
    position: relative;
    height: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    color: red;
    animation-name: arrow;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: paused;
  }

 
/* nav .composer span:nth-child(2) */